body {
    background-image: url(images/fondo.jpg);
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  .logo {
    width: 170px;
    margin-bottom: 40px;
  }
  .info {
    text-align: center;
    width: 100%;
    height: 33px;
  }
  .boton {
    width: 90px;
    height: 35px;
    background: black;
    color: white;
    border-radius: none;
    border: black;
    cursor: pointer;
    border-radius: 3px;
  }
  
  @media screen and (max-width: 768px) {
    body {
      background-image: url(images/fondo.jpg);
      width: 100%;
      height: 100vh;
      background-size: cover;
    }
  }